/* ==========================================================================
 # Columns block
========================================================================== */

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-columns,
.wysiwyg .wp-block-columns {

  &.wp-block-columns:first-child {
    margin-top: 0;
  }
  &.wp-block-columns:last-child {
    margin-bottom: 0;
  }

  .wp-block-column {
    margin: 0 0 $gap;
    @include child-margin-reset;


    &.is-vertically-aligned-center {
      align-self: center;
    }
    &.is-vertically-aligned-bottom {
      align-self: flex-end;
    }
    &.is-vertically-aligned-top {
      align-self: flex-start;
    }

  }

  &.alignwide,
  &.alignfull {
    margin-top: $gap;
    margin-bottom: $gap;
  }

  &.alignfull {
    margin-left: auto;
    margin-right: auto;
  }

}

/* Only front-end
----------------------------------------------- */

.wysiwyg .wp-block-columns {

  @include breakpoint($s) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > * {
      flex-shrink: 0;
      // width: calc(100% / 2 - #{1/2*$gap});
      flex: 0 0 50%;
    }
  }

  &.has-2-columns,
  &.columns-2 {
    @include breakpoint($s) {
      margin-bottom: $gap;
      & > * {
        margin-bottom: 0;
      }
    }
  }

  &.has-3-columns,
  &.columns-3 {
    @include breakpoint($s) {
      margin-bottom: $gap;
      & > * {
        width: calc(100% / 3 - #{2/3*$gap});
        margin-bottom: 0;
      }
    }
  }

  &.has-4-columns,
  &.columns-4 {
    @include breakpoint($m) {
      margin-bottom: $gap;
      & > * {
        width: calc(100% / 4 - #{3/4*$gap});
        margin-bottom: 0;
      }
    }
  }

  &.has-5-columns,
  &.columns-5 {
    @include breakpoint($m) {
      width: calc(100% / 3 - #{2/3*$gap});
    }
    @include breakpoint($l) {
      margin-bottom: $gap;
      & > * {
        width: calc(100% / 5 - #{4/5*$gap});
        margin-bottom: 0;
      }
    }
  }

  &.alignwide,
  &.alignfull {
    margin-bottom: $gap;
  }

}

/* Only back-end
----------------------------------------------- */

.wp-block-columns {
  $item : '.wp-block-column';
  $limit : 6;
  $breakpoint : $s;
  @for $i from 1 through $limit {
    $selector: '';
    @if $i == $limit {
      $selector: 'n+';
    }

    #{$item}:nth-last-child(#{$selector}#{$i}):nth-child(1),
    #{$item}:nth-last-child(#{$selector}#{$i}):nth-child(1) ~ #{$item} {
      @media(min-width: $breakpoint){
        // width: (100%/$i);
        flex-basis: calc((100%/#{$i}));
      }
    }
  }
}

.site {
  .wysiwyg {
    overflow: hidden;
  }

  .wp-block-column.wp-block-column {
    padding-left: $gap/2;
    padding-right: $gap/2;
    @media(min-width: $s){
      margin-bottom: 0;
    }
  }

  .wp-block-columns.wp-block-columns {
    // margin-bottom: -$gap;
    min-width: 0;
    max-width: calc(#{$max-width-m} + #{$gap});
    margin-left: -$gap/2;
    margin-right: -$gap/2;
    transform: translateX(calc((100vw - 100%) / 2 - #{$gap} / 2)); //align to center

    &.alignwide {
      max-width: calc(#{$max-width-l} + #{$gap});
    }
    &.alignfull {
      max-width: none;
      width: calc(100vw + #{$gap}); //disable this to have padding outside
    }
  }
}


