.nostoblokki {
  $this: &;

  &, a {
    color: #FFF;
    text-decoration: none;
  }

  @include textshadow;

  @at-root .block-editor-page & {
    pointer-events: none !important;
  }

  position: relative;
  height: 0;
  padding-top: calc((9 / 16) * 100%);

  &__kuva {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      max-width: none;
      height: 100%;
      vertical-align: bottom;
      object-fit: cover;
      object-position: 65% 50%;
      transform: scale(1);
      @include transition;

      @at-root #{$this}:hover & {
        transform: scale(1.048);

      }
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  &__otsikko {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: $gap-small;
    font-weight: bold;
    font-family: $font-title;
    font-size: themefontsize(28px);
  }


  &--iso_nelio {
    padding-top: calc((1 / 1) * 100%);
  }
  &--korkea_ohut {
    padding-top: calc(2 / 1 * 100%);
  }
  &--pieni_levea {
    padding-top: calc(1 / 3 * 100%);
  }

  &--iso_nelio,
  &--korkea_ohut,
  &--pieni_levea {
    #{$this}__otsikko {
      align-items: flex-end;
    }
  }
}
