/* ==========================================================================
 # Variables
========================================================================== */

/* Colors
----------------------------------------------- */

// basic colors
$black:                #000;
$white:                #fff;
$grey:                 #ddd;
$grey-light:           #eee;
$blue:                 #42a0d9;

// context colors
$primary:              #c82986;

// text colors
$base-font-color:      #333;
$grey-font-color:      #888;

// special colors
$menu-dropdown-bg:     $base-font-color;
$menu-dropdown-color:  $white;

/* Spacing
----------------------------------------------- */

// gaps
$gap-big:    3rem;
$gap:        1.5rem;
$gap-medium: 1rem;
$gap-small:  .75rem;
$gap-tiny:   .5rem;

// wrappers
$max-width-s: 40rem; // 640px
$max-width-m: 45rem; // 720px
$max-width-l: 76rem; // 1216px

// content width
$content-default-width: $max-width-m;

// sub-menu width
$menu-dropdown-width:  12rem; // desktop dropdown width

/* Breakpoints
----------------------------------------------- */

// generic breakpoints
$s:      560px;
$sub-s:  max-width 559px;
$m:      720px;
$sub-m:  max-width 719px;
$l:      1120px;
$sub-l:  max-width 1119px;
$xl:     1440px;
$sub-xl: max-width 1399px;

// content breakpoints
$content-fits: #{$content-default-width + 3*$gap};

// menu breakpoints
$menu-hidden:  max-width 889px; // hamburger
$menu-visible: 890px;           // no hamburger

// hero breakpoints
$hero-s:  530px;
$hero-m:  650px;
$hero-l:  1120px;
$hero-xl: 1600px;

// teaser breakpoints
$teaser-s: $s;
$teaser-m: $m;
$teaser-l: $l;

/* Fonts
----------------------------------------------- */

// font families
$system-font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-text:  $system-font-stack, sans-serif;
$font-title: $system-font-stack, sans-serif;

// font weights
$light:   300;
$normal:  400;
$bold:    700;
$heavy:   900;

// line heights
$line-height-small:   1.25;
$line-height:         1.5;
$line-height-big:     1.75;

// font faces
