/* ==========================================================================
 # Footer
========================================================================== */

.site-footer {
  background: $primary;
  padding: 2rem 0;

  &, *, a {
    color: $white;
  }

  &__container {
    @include wrap;
    // display: flex;
    // justify-content: space-between;
  }

}
